.module-card {
    padding: 16px;
    margin: 8px;
    border-radius: 2px;
    border:var(--solid-border);
    background: transparent;
    height: 150px;
}

.module-card h3 {
    font-size: 30px;
    color: var(--title-color);
}

.module-card p {
    color: var(--meta-color);
}

.module-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
