:host {
    width: 70%;
}

.modules-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 10px;
    padding: 16px;
}

.green-button {

}

.form {
    width: 500px;
    background: #193360;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    z-index: 9;
    padding: 20px;
    box-shadow: 0 7px 14px 0 rgb(0, 0, 0, 0.2);
}