.nav {
    margin-bottom: 20px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-bottom: 1px solid var(--line-color);
}

.logo {
    text-decoration: none;
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 109, 47);
}
nav ul li a:hover {
}
