:host {
    height: 100%;
}

.nav {
    top: 0;
    left: 0;
    height: 100%;
    margin: 0;
    padding: 10px;
    border-right: var(--solid-border);
    background-color: rgb(247, 255, 247);
}

.logo {
    text-decoration: none;
    margin: 0;
    font-weight: bold;
    font-size: 40px;
    color: var(--logo-color);
}
nav ul li a:hover {
}
