:host {
    height: 100%;
}

.nav {
    height: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: var(--shadow-line);
    background-color: var(--beta-back-col);
}

.nav a {
    text-decoration: none;
}

.logo {
    margin: 0;
    font-weight: bold;
    color: var(--logo-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo .icon {
    padding: 0;
}

.logo h1 {
    margin: 12px;
    margin: 7px;
    text-decoration: none;
    font-size: 20px;
}
