:host {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-left: var(--solid-border);
}

.note-input {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.note-input textarea {
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: var(--text-color);
    border: none;
    outline: none;
    resize: none;
    border-bottom: var(--solid-border);
    background: rgb(244, 244, 244);
}

.form-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.submit {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 7px;
    border: none;
    background: rgb(149, 255, 149);
}

.submit:hover {
    background: rgb(33, 255, 33);
}
