:host {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-left: var(--solid-border);
    background: linear-gradient(to bottom left, #446352, #9cc397);;
}

.note-input {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

textarea {
    height: 100%;
    width: 100%;
    padding: 10px;
    font-size: 17px;
    color: black;
    border: none;
    outline: none;
    resize: none;
    background: transparent;
}

textarea::placeholder {
    color: black;
}

.form-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.submit:hover {
    background: springgreen;
}
