<div class="note-card">
    <div class="subcard">
        <div [innerHTML]="mark(note.content)"></div>
        <div class="menu-container">
            <button class="menu-button" (click)="toggleMenu()">&#x22EE;</button>
            <div class="dropdown-menu" *ngIf="menuOpen">
                <div class="dropdown-item" (click)="editNote()">Edit</div>
                <div class="dropdown-item" (click)="deleteNote()">Delete</div>
            </div>
        </div>
    </div>
    <div class="metadata">{{ formatTimestamp(note.creationTime) }}</div>
</div>
