:host {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    resize: horizontal;
}

.unit-list {
    overflow-y: auto;
    box-shadow: var(--shadow-line);
}

.section-title {
    font-size: 25px;
}

.section-title h3 {
    margin: 0;
}

.options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.add-unit {
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.add-unit:hover {
}
