:host {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.note-list-head {
    width: 100%;
    display: flex;
    padding: 15px;
    box-shadow: var(--shadow-line);
    justify-content: space-between;
    background-color: var(--beta-back-col);
}

.unit-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    user-select: none;
}

.name {
    max-width: 100%;
    font-size: 26px;
    font-weight: bold;
    margin-right: 13px;
    display: flex;
    line-height: 1.7rem;
    max-height: calc(2 * 1.7rem);
    --max-lines: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    max-width: 50%;
    font-size: 15px;
    color: var(--meta-color);
    font-style: italic;
    line-height: 1.2rem;
    max-height: calc(2 * 1.2rem);
    --max-lines: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ele {
    margin: 0px 13px;
    cursor: pointer;
    border-radius: 50%;
    color: white;
}

.note-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px 20px;
    overflow: auto;
}

.note-list {
    width: 100%;
    overflow-y: auto;
    padding-bottom: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    align-items: center;
    margin: 0px 20px;
}

.new-note {
    height: 90%;
    width: 70%;
    display: flex;
    overflow: auto;
    justify-self: end;
    align-self: end;
    background: rgb(17, 58, 94);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0 0 4px 3px rgb(0, 31, 51);
}

