:host {
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 10px;
}

.form-container input {
    margin: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: var(--solid-border);
}

.footer {
    display: flex;
    justify-content: end;
}

.footer button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 7px;

}

.add-button {
    border: none;
    background: rgb(149, 255, 149);
}

.add-button:hover {
    background: rgb(33, 255, 33);
}

.cancel-button {
    background: white;
}

.cancel-button:hover {
    background: black;
    color: white;
}
