:host {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-container {
    max-width: 500px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    font-weight: 400;
    border-bottom: 2px solid var(--line-color);
    padding-bottom: 10px;
}


label {
    display: block;
    font-weight: 600;
    margin-bottom: 5px;
    color: white;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    width: 100%;
    padding: 8px 12px;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    box-sizing: border-box;
    background: transparent;
    font-size: 19px;
    color: white;
}

.form-control:focus {
    border-color: #142231;
    outline: none;
    box-shadow: 0 0 0 3px rgba(3,102,214,0.3);
}


.btn-primary {
    background-color: #2ea44f;
    color: #fff;
    border: 1px solid rgba(27,31,35,0.15);
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary:disabled {
    background-color: #94d3a2;
    cursor: not-allowed;
}

.btn-primary:hover:not(:disabled) {
    background-color: #22863a;
    border-color: rgba(27,31,35,0.15);
}

.error-message {
    color: #d73a49;
    margin-top: 10px;
}
