:root {
    --line-color: rgb(255, 97, 6);
    --background-color: #161b22;
    --button-color: rgb(255, 97, 6);
    --meta-color: rgb(255, 128, 0, 0.7);
    --text-font: "Roboto Mono", monospace;
}

* {
    box-sizing: border-box;
}


html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-text-size-adjust: 100%;
}


body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
    font-family: 'Amethysta', sans-serif;
    font-size: 20px;
    color: white;
}